<footer class="bg-gray-900 bg-opacity-90 text-gray-300 py-4 mt-8">
  <div class="max-w-7xl mx-auto text-center text-sm">
    <p>&copy; 2024 - Proyecto Países Hispanohablantes | Autor: Franco Simón Olmedo</p>
    <p>
      Repo: 
      <a href="https://github.com/FrancoSimon/Diplomatura-Modulo3-SP3-TPr-final.git" target="_blank" class="text-blue-400 hover:text-blue-600">
        GitHub
      </a>
    </p>
  </div>
</footer>
