
<nav class="bg-gray-900 bg-opacity-90 text-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="flex items-center space-x-2">
      <img src="/img/logo.png" alt="Logo Proyecto Países" class="h-10 w-auto">
    </a>

    <!-- Links -->
    <ul class="flex space-x-6 font-semibold">
      <li>
        <a href="/" class="hover:text-yellow-400 flex items-center space-x-2">
          <img src="/icons/home.svg" alt="Inicio" class="h-5 w-5">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a href="/api/paises" class="hover:text-yellow-400 flex items-center space-x-2">
          <img src="/icons/listpais.svg" alt="Listado" class="h-5 w-5">
          <span>Listado Paises</span>
        </a>
      </li>
      <li>
        <a href="/api/paises/crear" class="hover:text-yellow-400 flex items-center space-x-2">
          <img src="/icons/agregarpais.svg" alt="Agregar" class="h-5 w-5">
          <span>Agregar País</span>
        </a>
      </li>
      <li>
        <a href="/api/about" class="hover:text-yellow-400 flex items-center space-x-2">
          <img src="/icons/info.svg" alt="Acerca de" class="h-5 w-5">
          <span>Acerca de</span>
        </a>
      </li>
      <li>
        <a href="/api/contact" class="hover:text-yellow-400 flex items-center space-x-2">
          <img src="/icons/contact.svg" alt="Contacto" class="h-5 w-5">
          <span>Contacto</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
